body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
    resize: none;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 120px;
}
.form-min-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    
}

.card-deck {
    margin-left: 30px;
    margin-right: 30px;
}





.file-input {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 16px;
    width: 450px;
    position: relative;
    border-radius: 0.25rem;
    border: 1px #007bff dashed;
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

    .file-input > .button {
        display: inline-block;
        cursor: pointer;
        background: #eee;
        padding: 8px 16px;
        border-radius: 0.25rem;
        margin-right: 8px;
    }

.file-input:hover > .button {
    background: #007bff;
    color: white;
    transition: 0.5s;
}

.file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen > .label {
    opacity: 1;
}

.dashed {
    border: none;
    border-bottom: 1px dashed #007bff;
    padding-top: 10px;
    padding-bottom: 20px;
}


.form-max-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo {
    color: #007bff;
    text-align: center;
    margin-top: 15px;
}

.zeroborder {
    border: none;
}

.round {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.image-center {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.t-a-c {
    text-align: center;
}
.bold {
    font-weight: 700;
    color: #007bff;
    font-size: 1.1em;
}

.big-block {
    display: flex;
    justify-content: center;
}
.in-big-block {

    width: 250px;


}

.maga-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.validation-message {
    color: #007bff;
    list-style-type: none;
    width: 250px;
    

  
}

.validation-message ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;

}

.main {
    width: 50%;
    margin: 50px auto;
}


.colm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.in-big-block2 {
    width: 600px;
}

.filter-sort-block {

}

.filter-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.in-filter-block {
    width: 250px;
    margin: 10px;
}

.in-filter-block input{
    margin-top: 5px;
}

.sort-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    border: 1px dashed #007bff;
    border-radius: 0.25rem;
    height :160px;

}

.in-sort-block {
    padding-left: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mega-search {
    display: flex;
    flex-direction: row;
}

.search-filter {
    display: flex;
    flex-direction: column;
}

.sort-logo {
    color: #007bff;
    font-weight: 600;
}
.my-form {
    display: flex;
    justify-content: center;
}


.red {
    color: #dc143c;
    font-weight: 600;
}
.green {
    color: #008000;
    font-weight: 600;
}

.my-table {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}

.table-col {
    color: #007bff;
}


.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column a {
    margin-top: 5px;
   margin-bottom: 5px;
    width: 200px;
}

.b-m {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.b-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

    .b-in img {
        width: 600px;
        border-radius: 0.25rem;
    }


.blue {
    color: #007bff;
    font-weight: 600;
}


.padd {
    margin-left: 50px;
}