
@model TelegramSMM.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}


<h2 class="logo">REGISTRATION</h2>
<hr class="dashed" />
<div class="big-block">
<div class="in-big-block">
    @using (FormExtensions.BeginForm(Html))
    {
        @Html.AntiForgeryToken()

       
      
            @Html.ValidationSummary(true, "", new { @class = "validation-message  alert alert-primary" })
            <div class="form-group">
                Email
                <div>
                    <input type="email" name="Email" id="Email" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group">
                Password
                <div>
                    <input type="password" name="Password" id="Password" class="form-control" required="required" />

                </div>
            </div>

            <div class="form-group">
                Confirm password
                <div>
                    <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-primary" value="Sing up" />
                </div>
            </div>
      
    }
</div>
</div>