@model TelegramSMM.Models.Order

@{
    ViewBag.Title = "SalesReceipt";
}

<h2 class="logo">Sales Receipt</h2>
<hr class="dashed" />
<div class="padd">
    <dl class="dl-horizontal ch-report">
        <div class="ишп-ащте">ЧЕК "ПРОДАЖА РЕКЛАМНОГО ПОСТА"</div>
        <dt>
            Компания: Telemetr
        </dt>
        <dt>
            Вы продали рекламу на канале: @Model.Channel.Name
        </dt>
        <dt>
            Количество постов: 1
        </dt>
        <dt>
            Дата публикации рекламного поста:
        </dt>

        <dd>
            @Model.PublicationDate.ToString("yyyy.MM.dd")
        </dd>

        <dt>
            Стоимость публикации:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost) ₽
        </dd>

        <dt class="big-font">
            Дата формирования отчета
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePost)
        </dd>

    </dl>
    
</div>
